html {
  background: gray;
}

header{
  font-family: helvetica;
}

body {
  color: black;
}

h1 {
  font-family: helvetica;
  padding: 1px;
  font-size: 50px;
  text-align: center;
}

form {
  font-family: helvetica;
  padding: 5px;
  font-size: 15px;
}

button {
  font-family: helvetica;
  font-size: 15px;
}

input {
  padding: 1px;
}